<!--{% extends "portal/base.html" %}
{% load extra_templates %}
{% load humanize %}
{% block title %} UNC CS Student Portal FAQ {% endblock %}
{% block header %} UNC CS Student Portal FAQ {% endblock %}
{% block content %}-->
<style>
ol li{
 padding: 10px 0px;
}
ol li span{
font-weight: 600;
}
</style>
<div class="col-md-10">
	<ol>
		<li>
		<span>What's the purpose of the CS Student Portal?</span>
		<p>The CS Student Portal was created by UNC Computer Science students as a resource for our peers to find out-of-class opportunities to build a project portfolio for employers, as well as a way for students to collaboratively share information about job offers and interviews in order to better evaluate and prepare for job opportunities in an increasingly competitive market!</p>
		</li>
		<li>
		<span>Do I need a UNC Computer Science login to access the site?</span>
		<p>In order to keep the information posted secure, we require you to register with a valid cs.unc.edu email address in order to access all parts of the website except for the Project Marketplace section of the Portal. Once you register with a valid email, an authentication email will be sent to you shortly with a link to the site so you can get started posting right away!</p>
		</li>
		<li>
		<span>How do I navigate the site?</span>
		<p>The CS Portal has three main sections to peruse, depending on your needs. To view current and available job opportunities, visit the Job Board! To start building a project portfolio, visit the Project Marketplace in order to work on a project that either a peer or a non-UNC client has posted. Visit Get Hired to find information posted by your peers about job offers and interviews. Filtering by company, location, or position makes it easy to find the information you&#39;re looking for quickly.</p>
		</li>
		<li>
		<span>How can I trust the security and privacy of the CS Student Portal?</span>
		<p>The CS Portal does not store any identifiable information that you do not provide. The interview or offer reviews do not show the author of the post, and access to that content is reserved only to users with a cs.unc.edu email address</p>
		<p>If you post a Project proposal, an email address is required. However, we do not display your email address on the site or provide it to users. In order to contact you, a user must do so through our secure interface which does not display your email address</p>
		</li>
		<li>
		<span>How long will my posts remain on the site before they are taken down?</span>
		<p>In order to keep content fresh, posts will be automatically deleted depending on the section of the CS Portal it was posted in. Posts within the Project Marketplace will be automatically deleted after two weeks, posts within the Job Board will be deleted after one month, and posts within Get Hired will be deleted after one year so that the provided information stays relevant!</p>
		</li>
	
	</ol>
</div>

<!--{% endblock%}-->
