{% extends "portal/base.html" %} 
{% block addstyles %} 
<script src= "/static/js/chosen.jquery.js"></script>
<link rel="stylesheet" href="/static/css/chosen.css">
{% endblock %}
{% block title %} Edit/Delete Password {% endblock %} 
{% block header %} Project Marketplace {% endblock %} 
{% block content %}
<div class="col-md-12">
	<div class="container-fluid">
		<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login panel-default" style="margin: 10px 0px;">
					<div class="panel-heading">Enter Password to Post:</div>
						<div class="panel-body">
							{% if edit_or_delete == 'edit' %}
							<form class="form-horizontal" method="post" action="{% url 'edit_post_password_project' post_id=post edit_or_delete='edit' %}">
							{% else %}
							<form class="form-horizontal" method="post" action="{% url 'delete_password_project' post_id=post %}">
							{%endif%}
							{% csrf_token %}
							{% if errors %}
							<p class="error">{{errors}}</p>
							{% endif %}
							<div class="container-fluid">
								<label>Please Enter the Post Password:</label>
								<div class="col-md-12 form-group">
									<input type="password" name="password"/>
								</div>
								</div>
								<div class="col-md-12">
									<input class="btn btn-default" style="width: auto;" type="submit" value="Submit" />
								</div>
							</form>
						</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
